$font-base: Compromis, Helvetica, Arial, sans-serif;
$font-headings: Oswald, sans-serif;
$background: #0B2359;
$text-color: #fff;
$basic-orange: #ea580c;
$orange-start: #e28333;
$orange-end: #d4432f;
$secondary-color: #dd473e;
$white: #fff;
