$font-base: Compromis, Helvetica, Arial, sans-serif;
$font-intro: Oswald, sans-serif;
$font-headline: Bitter, serif;
$background: #0B2359;
$text-color: #fff;
$text-color-dark: #2c3e50;
$basic-orange: #ea580c;
$orange-start: #e28333;
$orange-end: #d4432f;
$secondary-color: #dd473e;
$white: #fff;
$true-color-start: #00CD87;
$true-color-end: #3AB52A;
$false-color-start: #FF4747;
$false-color-end: #D90A6F;
$true-gradient: linear-gradient(to bottom right, $true-color-start 0%, $true-color-end 100%);
$false-gradient: linear-gradient(to bottom right, $false-color-start 0%, $false-color-end 100%);
